<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>soda-web</display-name>
  
  <servlet>
    <servlet-name>GridPointServlet</servlet-name>
    <servlet-class>com.soda.servlet.GridPointServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GridLineServlet</servlet-name>
    <servlet-class>com.soda.servlet.GridLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GridFromToNum2</servlet-name>
    <servlet-class>com.soda.servlet.GridFromToNum2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GridPeopleGroup2</servlet-name>
    <servlet-class>com.soda.servlet.GridPeopleGroup2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClassLineServlet</servlet-name>
    <servlet-class>com.soda.servlet.ClassLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PredictServlet</servlet-name>
    <servlet-class>com.soda.servlet.PredictDataServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>PredictManTypeServlet</servlet-name>
    <servlet-class>com.soda.servlet.PredictManTypeServlet</servlet-class>
  </servlet>

<listener>
	<listener-class>com.soda.listener.CacheInitListener</listener-class>
</listener>


<!-- 预测数据 -->
<servlet-mapping>
	<servlet-name>PredictServlet</servlet-name>
	<url-pattern>/getPredictServlet</url-pattern>
</servlet-mapping>

<!-- 预测人群类型 -->
<servlet-mapping>
	<servlet-name>PredictManTypeServlet</servlet-name>
	<url-pattern>/getPredictManTypeServlet</url-pattern>
</servlet-mapping>
  <servlet-mapping>
  	<!-- 画网格点 -->
    <servlet-name>GridPointServlet</servlet-name>
    <url-pattern>/getGridPoint</url-pattern>
  </servlet-mapping>
  
  
   <servlet-mapping>
   	<!-- 画网格线 -->
    <servlet-name>GridLineServlet</servlet-name>
    <url-pattern>/getGridLine</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet-mapping>
  	<!-- 画线（动态）   画点（静态） -->
    <servlet-name>GridFromToNum2</servlet-name>
    <url-pattern>/getGridFromToNum2</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<!-- 查询分组    -->
    <servlet-name>GridPeopleGroup2</servlet-name>
    <url-pattern>/getGridPeopleGroup2</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<!--获取一类人的行动轨迹  -->
    <servlet-name>ClassLineServlet</servlet-name>
    <url-pattern>/getClassLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PredictServlet</servlet-name>
    <url-pattern>/servlet/PredictServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>